<div class="row justify-content-center" *ngIf="isVerifyResetToken">
  <div class="col-md-4">
    <div class="container mt-5">
      <h2 class="text-center mb-4">Update Password</h2>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="text" formControlName="password" class="form-control smaller-alert" id="password" #txtPassword>
      </div>
      <div class="mb-3">
        <label for="passwordConfirm" class="form-label">Password Confirm</label>
        <input type="text" formControlName="passwordConfirm" class="form-control smaller-alert" id="passwordConfirm" #txtPasswordConfirm>
      </div>
      <div class="d-grid">
        <a (click)="updatePassword(txtPassword.value,txtPasswordConfirm.value)" class="btn btn-primary">Update</a>
      </div>
    </div>
  </div>
</div>

<div class="alert alert-danger" role="alert" *ngIf="!isVerifyResetToken">
  Bu link kullanılmamaktadır!
</div>
