<div class="container" *ngIf="productList">
  <div class="row mt-3">
    <div class="col-md-3 mt-2" *ngFor="let product of productList">
      <div class="card">
        <img *ngIf="!product.showcaseImage" src="../../../../assets/default_product.png" class="card-img-top" alt="...">
        <img *ngIf="product.showcaseImage" src="{{storageBaseUrl.url}}/{{product.showcaseImage}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title-bold">{{product.name}}</h5>
          <p class="card-text">{{product.price | currency:'₺' }}</p>
          <a class="btn btn-primary" (click)="addToBasket(product)" >Add to basket</a>
        </div>
      </div>
    </div>

    <div class="mt-3 d-flex justify-content-center">
      <nav aria-label="Page navigation example">
        <ul class="pagination">

          <li class="page-item p-2" [class.disabled]="currentPageNo === 1">
            <a class="page-link" [routerLink]="['/products', currentPageNo - 1 <= 0 ? 1 : currentPageNo - 1 ]">
              Previous
            </a>
          </li>

          <li class="page-item p-2" *ngFor="let page of paginationArray;" [class.active]="currentPageNo === page">
            <a class="page-link" [routerLink]="['/products', page]">
              {{ page }}
            </a>
          </li>

          <li class="page-item p-2" [class.disabled]="currentPageNo === totalPageCount">
            <a class="page-link" [routerLink]="['/products', currentPageNo + 1 >= totalPageCount ? totalPageCount : currentPageNo + 1]">
              Next
            </a>
          </li>

          <li class="page-item p-2">
            <a class="page-link">
              {{currentPageNo}} / {{ totalPageCount }}
            </a>
          </li>

        </ul>
      </nav>
    </div>

  </div>
</div>

