<div class="row justify-content-center">
  <div class="col-md-4">
    <div class="container mt-5">
        <h2 class="text-center mb-4">Password Reset</h2>
        <div class="mb-3">
          <label for="email" class="form-label">E-mail</label>
          <input type="text" formControlName="email" class="form-control smaller-alert" id="email" #txtEmail>
        </div>
        <div class="d-grid">
          <a class="btn btn-primary" (click)="passwordReset(txtEmail.value)">Submit</a>
        </div>
    </div>
  </div>
</div>
